body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    text-align: center;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

nav a {
    color: white;
    display: flex;
    text-decoration: none;
    margin: 0 15px;
}

section {
    background: white;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    display: flex;
    max-width: 500px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input, select, button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}
